mixin navbar()
    nav(class='bg-green-500 py-5')
        div(class='container mx-auto flex justify-between text-white')  
            a(href='/' class='text-bold text-xl') Sandesh 
            div(class='flex gap-5 text-lg')
                a(href='/login') Login
                a(href='/register') Register 
