extends layout/layout

block content 
    ul#messages
    form(class="fixed bottom-0 right-0 flex w-full" id='form')        
        input(type='text' class='border border-green-500 px-3 py-2' autocomplete='off')
        button(class='bg-green-500 text-white font-bold px-5 py-3 ') Send

block customScripts
    script.     
        let socket = io()        
        socket.emit('message', 'done');   
        console.log(socket)     
