mixin submitButton(id='submit__btn')
    button(type='submit' class='bg-green-500 text-white px-5 py-3 rounded font-semibold shadow-lg hover:bg-green-600 hover:shadow-xl mt-5 uppercase tracking-wider' id=id) Submit